@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.content-title {
  color: #28054b;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  padding: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.icon {
  color: #28054b;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #28054b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffc700;
}

p {
  color: #28054b;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 2em;
  }
}
