.container-payment {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.content-payment {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 1px 1px #28054b;
}
.content-payment h2 {
  color: #28054b;
  font-size: 1rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .container-payment {
    grid-template-columns: 1fr;
  }
}
