.container-projects {
  background-color: #28054b;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.container-slider {
  display: grid;
  width: 50%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.content-projects {
  background-color: #fff;
  display: grid;
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.content-text {
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.content-text h3 {
  color: #28054b;
  font-size: 18px;
}

.content-text h4 {
  color: #28054b;
  font-size: 14px;
}

.content-midia img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.icon {
  color: #28054b;
}

@media only screen and (max-width: 1024px) {
  .container-slider {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
  }

  .slick-slide {
    margin: 0 5px;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
  }

  .slick-dots {
    bottom: -30px;
  }

  .slick-dots li button:before {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container-slider {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5rem;
  }

  .slick-slide {
    margin: 0 2px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 16px;
  }

  .slick-dots {
    bottom: -20px;
  }

  .slick-dots li button:before {
    font-size: 8px;
  }
}
