.container-services {
  background-color: #28054b;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.content-services {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  padding: 5rem;
  margin: 0 auto;
}

.content-title-services {
  color: #fff;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  padding: 2rem;
}

.card-services {
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;
}

.card-services img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-services h3 {
  color: #28054b;
  margin: 0;
  padding: 0.2rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
}

.card-services p {
  color: #28054b;
  margin: 0;
  padding: 0.2rem;
  font-size: 1em;
  font-weight: bold;
  text-align: justify;
}

.card-services .informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card-services .informations span {
  background-color: #ffc700;
  width: 40%;
  font-size: 1em;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  10% {
    color: #fff;
  }
  50% {
    color: #28054b;
  }
  100% {
    color: #28054b;
  }
}

@media screen and (max-width: 1200px) {
  .card-services {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 1rem;
  }

  .card-services img {
    height: 50%;
  }

  .card-services h3 {
    font-size: 1.5em;
    padding: 1rem;
  }

  .card-services p {
    font-size: 1.2em;
    padding: 1rem;
  }

  .card-services .informations {
    width: 100%;
    height: 25%;
    font-size: 1.2em;
    padding: 2rem;
  }

  .card-services .informations span {
    width: 50%;
    font-size: 0.8em;
    padding: 1rem;
  }

  .content-title-services {
    font-size: 1.5em;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .content-services {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    padding: 0;
    gap: 5rem;
  }

  .card-services {
    padding: 1rem;
  }

  .card-services img {
    height: 50%;
  }

  .card-services h3 {
    font-size: 2em;
    padding: 1rem;
  }

  .card-services p {
    font-size: 2em;
    padding: 1rem;
  }

  .card-services .informations {
    width: 100%;
    height: 10%;
    font-size: 1.5em;
    padding: 2rem;
  }

  .card-services .informations span {
    width: 50%;
    font-size: 1em;
    padding: 1rem;
  }

  .content-title-services {
    font-size: 1.5em;
    padding: 1rem 0;
  }
}
