.animation {
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
}

.text-animation {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  animation: slideText 20s linear infinite;
  color: #ffc700;
  font-size: 1em;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .animation {
    background-color: #fff;
  }

  .text-animation {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .text-animation {
    font-size: 1em;
  }
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
